public/imagens/cadastro/*
public/imagens/produtos/200x200/*
public/imagens/produtos/900x900/*
!padrao.jpg
composer.lock
.project
.buildpath
.settings/
/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
