@font-face {
  font-family: "Adventure_";
  src: url("/fonts/adventure/Adventure.otf") format("truetype");
}
html,
body {
  font-family: 'serif';
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
.btn-success {
  background-color: #007f2a;
  border-color: #282c34;
}
.btn-danger {
  background-color: #7f0002;
  border-color: #282c34;
}
.btn-warning {
  background-color: #f3b300;
  border-color: #282c34;
}
.btn-info {
  background-color: #00707f;
  border-color: #282c34;
}
.btn-primary {
  background-color: #000e7f;
  border-color: #282c34;
}
.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-primary:hover,
.btn-warning:hover {
  background-color: #7f5900;
}
/* HOME ADMIN */
table {
  text-align: center;
}
.titulo-adm {
  background-color: #eee;
  font-weight: bold;
}
.form-login {
  text-align: center;
}
.msg-erro {
  font-weight: bold;
  color: #f00;
}
/* VISUALIZAR ADMIN */
.btn_chk span.glyphicon {
  opacity: 0;
}
.btn_chk.active span.glyphicon {
  opacity: 1;
  color: #fff;
}
.btn_chk.active {
  background-color: #0085b1;
}
