@font-face {
  font-family: "Adventure_";
  src: url("/fonts/adventure/Adventure.otf") format("truetype");
}
html,
body {
  font-family: 'serif';
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
.btn-success {
  background-color: #007f2a;
  border-color: #282c34;
}
.btn-danger {
  background-color: #7f0002;
  border-color: #282c34;
}
.btn-warning {
  background-color: #f3b300;
  border-color: #282c34;
}
.btn-info {
  background-color: #00707f;
  border-color: #282c34;
}
.btn-primary {
  background-color: #000e7f;
  border-color: #282c34;
}
.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-primary:hover,
.btn-warning:hover {
  background-color: #7f5900;
}
#filtro_lateral {
  font-family: 'Adventure_';
  background-color: #ffca4c;
  border: solid 2px #f3b300;
  width: 100%;
  color: #7f5900;
}
#filtro_lateral .categoria {
  margin: 3px;
}
#filtro_lateral .categoria .titulo {
  background-color: #f3b300;
  padding: 4px;
  font-weight: bold;
}
#filtro_lateral .categoria .titulo span {
  float: right;
  font-size: 20px;
  margin-top: -5px;
}
#filtro_lateral .categoria .conteudo {
  background-color: #ffca4c;
  margin-top: 5px;
}
#filtro_lateral .categoria .conteudo label {
  display: inline-block;
  width: 100%;
  font-weight: normal;
}
#filtro_lateral .categoria .conteudo label small {
  float: right;
  width: 35px;
  color: #282c34;
  font-weight: bold;
  font-size: 11px;
  border: solid 2px #f3b300;
  border-radius: 10px;
}
#filtro_lateral .categoria .conteudo label:hover {
  cursor: pointer;
}
#filtro_lateral .categoria .conteudo label:hover span {
  text-decoration: underline;
}
#filtro_lateral .categoria .conteudo label:hover small {
  color: #eee;
  background-color: #f3b300;
}
/*INICIO Checkbox*/
input[type="checkbox"]:before {
  padding: 7px;
  position: absolute;
  content: '';
  background: #eee;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #333;
}
input[type="checkbox"]:checked:before {
  padding: 7px;
  position: absolute;
  content: '';
  background: #eee;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #333;
  background-size: cover;
  background-image: url("/imagens/checked.jpg");
}
/*FIM Checkbox*/
/*INICIO Campo palavra-chave*/
.palavra-chave {
  width: 100%;
  border: solid 0;
  margin: 5px 0 10px 0;
}
.palavra-chave .input-group input:hover {
  border: solid #282c34;
}
.palavra-chave .input-group .btn-group button {
  background-color: #eee;
}
.palavra-chave .input-group .btn-group button span {
  color: #eee;
}
.palavra-chave div .escolhas {
  display: inline-block;
  border: solid #7f0002;
  border-radius: 15px;
  padding: 2px 15px;
  margin-top: 3px;
  position: relative;
  color: #7f0002;
  font-weight: bold;
}
.palavra-chave div .escolhas:hover {
  background-color: #7f0002;
  color: #eee;
  cursor: pointer;
}
/*FIM Campo palavra-chave*/
.item-view {
  border: 1px solid;
  height: 200px;
}
