#filtro_lateral {
  background-color: #ffca4c;
  border: solid 2px #f3b300;
  width: 100%;
  color: #7f5900;
}
#filtro_lateral .categoria {
  margin: 3px;
}
#filtro_lateral .categoria .titulo {
  background-color: #f3b300;
  padding: 4px;
  font-weight: bold;
}
#filtro_lateral .categoria .titulo span {
  float: right;
  font-size: 20px;
  margin-top: -5px;
}
#filtro_lateral .categoria .conteudo {
  background-color: #ffca4c;
  margin-top: 5px;
}
#filtro_lateral .categoria .conteudo label {
  display: inline-block;
  width: 100%;
  font-weight: normal;
}
#filtro_lateral .categoria .conteudo label small {
  float: right;
  width: 35px;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 11px;
  border: solid 2px #f3b300;
  border-radius: 10px;
}
#filtro_lateral .categoria .conteudo label:hover {
  cursor: pointer;
}
#filtro_lateral .categoria .conteudo label:hover span {
  text-decoration: underline;
}
#filtro_lateral .categoria .conteudo label:hover small {
  color: #fff;
  background-color: #f3b300;
}
/*INICIO Checkbox*/
input[type="checkbox"]:before {
  padding: 7px;
  position: absolute;
  content: '';
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #333;
}
input[type="checkbox"]:checked:before {
  padding: 7px;
  position: absolute;
  content: '';
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #333;
  background-size: cover;
  background-image: url("/imagens/checked.jpg");
}
/*FIM Checkbox*/
/*INICIO Campo palavra-chave*/
.palavra-chave {
  width: 100%;
  border: solid 0;
  margin: 5px 0 10px 0;
}
.palavra-chave .input-group input:hover {
  border: solid #4d4d4d;
}
.palavra-chave .input-group .btn-group button {
  background-color: #999;
}
.palavra-chave .input-group .btn-group button span {
  color: #fff;
}
.palavra-chave div .escolhas {
  display: inline-block;
  border: solid #cc2929;
  border-radius: 15px;
  padding: 2px 15px;
  margin-top: 3px;
  position: relative;
  color: #cc2929;
  font-weight: bold;
}
.palavra-chave div .escolhas:hover {
  background-color: #cc2929;
  color: #fff;
  cursor: pointer;
}
/*FIM Campo palavra-chave*/
.item-view {
  border: 1px solid;
  height: 200px;
}
