@font-face {
  font-family: "Adventure";
  src: url("fonts/Adventure.otf") format("truetype");
}
/*Seleção 1*/
html,
body {
  height: 100%;
  font-family: arial;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
