@font-face {
  font-family: "Adventure_";
  src: url("/fonts/adventure/Adventure.otf") format("truetype");
}
html,
body {
  font-family: 'serif';
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
.btn-success {
  background-color: #007f2a;
}
.btn-danger {
  background-color: #7f0002;
}
.btn-warning {
  background-color: #f3b300;
}
.btn-info {
  background-color: #00707f;
}
.btn-primary {
  background-color: #000e7f;
}
.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-primary:hover,
.btn-warning:hover {
  background-color: #7f5900;
}
.mensagem {
  position: relative;
}
.mensagem .titulo {
  width: 70%;
  display: inline-block;
}
.mensagem .img {
  display: inline-block;
}
.mensagem .excluir {
  position: absolute;
  top: 5px;
  right: 5px;
}
.mensagem .responder {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.mensagem .responder button {
  color: #282c34;
}
.mensagem .conversa {
/*   position:relative;    */
  width: 70%;
}
.mensagem .conversa .conversa-esquerda {
  background-color: #ffb520;
  border-radius: 10px;
  width: 50%;
  margin-right: auto;
  padding: 10px;
}
.mensagem .conversa .conversa-direita {
  background-color: #ffd786;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  padding: 10px;
}
