@font-face {
  font-family: "Adventure_";
  src: url("/fonts/adventure/Adventure.otf") format("truetype");
}
html,
body {
  font-family: 'serif';
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
.btn-success {
  background-color: #007f2a;
  border-color: #282c34;
}
.btn-danger {
  background-color: #7f0002;
  border-color: #282c34;
}
.btn-warning {
  background-color: #f3b300;
  border-color: #282c34;
}
.btn-info {
  background-color: #00707f;
  border-color: #282c34;
}
.btn-primary {
  background-color: #000e7f;
  border-color: #282c34;
}
.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-primary:hover,
.btn-warning:hover {
  background-color: #7f5900;
}
.img_perfil {
  max-height: 100px;
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
  border: solid 1px #ccc;
}
