@font-face {
  font-family: "Adventure_";
  src: url("/fonts/adventure/Adventure.otf") format("truetype");
}
html,
body {
  font-family: 'serif';
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
.btn-success {
  background-color: #007f2a;
  border-color: #282c34;
}
.btn-danger {
  background-color: #7f0002;
  border-color: #282c34;
}
.btn-warning {
  background-color: #f3b300;
  border-color: #282c34;
}
.btn-info {
  background-color: #00707f;
  border-color: #282c34;
}
.btn-primary {
  background-color: #000e7f;
  border-color: #282c34;
}
.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-primary:hover,
.btn-warning:hover {
  background-color: #7f5900;
}
.msgHome {
  font-family: 'Adventure_';
}
.div-produtos {
  padding: 10px;
}
.div-produtos .titulo {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-ativo {
  background-image: url("/imagens/favorito_ativo.jpg");
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
}
.img-inativo {
  background-image: url("/imagens/favorito_inativo.jpg");
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
}
/* MEUS PRODUTOS */
.div-meus-produtos {
  border-bottom: solid 1px;
  padding: 20px 0;
}
.div-meus-produtos .titulo {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-meus-produtos .div_imagem {
  width: 150px;
  height: 150px;
  background-color: #000;
}
.div-meus-produtos .div_imagem img {
  width: 100%;
  height: 100%;
}
.div-meus-produtos .btn_acoes div {
  display: inline-block;
  padding: 5px;
}
.div-meus-produtos .btn_acoes .favorito div {
  background-size: cover;
  width: 15px;
  height: 15px;
}
.div-meus-produtos .btn_acoes .favorito .favorito-ativo {
  background-image: url("/imagens/favorito_ativo.jpg");
}
.div-meus-produtos .btn_acoes .favorito .favorito-inativo {
  background-image: url("/imagens/favorito_inativo.jpg");
}
