.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #2f4f4f;
  background-color: #ffd700;
  font-family: colibri;
  font-size: 10px;
  padding: 8px;
  text-align: center;
  z-index: 10;
}
