// Variables
@import "./global.styl";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

// Animate
@import "~animate.css";

@import "./site/header.styl";
@import "./site/footer.styl";

@import "./site/auth.styl";
@import "./site/filtro.styl";
@import "./site/geral.styl";
@import "./site/mensagem.styl";
@import "./site/minhaConta.styl";
@import "./site/perfil.styl";
@import "./site/produto.styl";
