/*Seleção 1*/
$color1 = #282c34;
$color2 = #7f5900;
$color3 = #7f6526;
$color4 = #cc8f00;
$color5 = #F3B300;
$color6 = #ffca4c;
$color7 = #eee;

// @import "global.css";

#app
    .navbar-static-top
        background-color: $color5;
.row
    .col-md-offset-2
        .panel
            .panel-heading
                background-color: $color5;
            .panel-body
                background-color: $color6;
