@font-face
	font-family: "Adventure";
	src: url("fonts/Adventure.otf") format("truetype");

/*Seleção 1*/
$color1 = #282c34;
$color2 = #7f5900;
$color3 = #7f6526;
$color4 = #cc8f00;
$color5 = #F3B300;
$color6 = #ffca4c;
$color7 = #eee;

$font = arial; //Adventure

html, body
	height: 100%;
	font-family: $font;
	margin: 0;
	padding: 0;

a
	cursor: pointer;
	text-decoration: none;

.modal-body
	background-color: $color5;

.modal-header, .modal-footer
	background-color: $color6;
