@import "global.styl";

.div-produtos
	padding: 10px;
	.titulo
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;

// .div-produtos:hover
	// transition: ease all 0.5s;
	// box-shadow: 2px 2px 10px #888888;
	// padding: 10px;

.img-ativo
	background-image: url(/imagens/favorito_ativo.jpg);
	background-size: cover;
	width: 20px;
	height: 20px;
	display:block;

.img-inativo
	background-image: url(/imagens/favorito_inativo.jpg);
	background-size: cover;
	width: 20px;
	height: 20px;
	display:block;

/* MEUS PRODUTOS */
.div-meus-produtos
	border-bottom: solid 1px;
	padding: 20px 0;
	.titulo
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	.div_imagem
		width: 150px;
		height:150px;
		img
			width: 100%;
			height: 100%;
	.btn_acoes
		div
			display: inline-block;
			padding: 5px;
		.favorito
			div
				background-size: cover;
				width: 15px;
				height: 15px;
			.favorito-ativo
				background-image: url(/imagens/favorito_ativo.jpg);
			.favorito-inativo
				background-image: url(/imagens/favorito_inativo.jpg);
