#app
    .navbar-static-top
        background-color: $color5;
.row
    .col-md-offset-2
        .panel
            .panel-heading
                background-color: $color5;
            .panel-body
                background-color: $color6;
