@import "global.styl";

#filtro_lateral
    font-family: 'Adventure_';
    background-color:$color6;
    border:solid 2px  $color5;
    width:100%;
    color:$color2;
    .categoria
        margin:3px;
        .titulo
            background-color:$color5;
            padding:4px;
            font-weight:bold;
            span
                float:right;
                font-size:20px;
                margin-top:-5px;
        .conteudo
            background-color:$color6;
            margin-top:5px;
            label
                display:inline-block;
                width:100%;
                font-weight:normal;
                small
                    float:right;
                    width:35px;
                    color: $color1;
                    font-weight:bold;
                    font-size:11px;
                    border:solid 2px $color5;
                    border-radius:10px;
            label:hover
                cursor:pointer;
            label:hover span
                text-decoration: underline;
            label:hover small
                color: $color7;
                background-color: $color5;
/*INICIO Checkbox*/
input[type="checkbox"]:before
    padding: 7px;
    position: absolute;
    content: '';
    background: $color7;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #333;

input[type="checkbox"]:checked:before
    padding: 7px;
    position: absolute;
    content: '';
    background: $color7;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #333;
    background-size:cover;
    background-image: url('/imagens/checked.jpg');
/*FIM Checkbox*/

/*INICIO Campo palavra-chave*/
.palavra-chave
    width:100%;
    border: solid 0;
    margin:5px 0 10px 0;
    .input-group
        input:hover
            border: solid $color1;
        .btn-group
            button
                background-color:  $color7;
                span
                    color:$color7;
    div
        .escolhas
            display:inline-block;
            border:solid $color9;
            border-radius:15px;
            padding:2px 15px;
            margin-top:3px;
            position:relative;
            color:$color9;
            font-weight:bold;
        .escolhas:hover
            background-color:$color9;
            color:$color7;
            cursor:pointer
/*FIM Campo palavra-chave*/

.item-view
    border:1px solid;
    height:200px;
