main footer
    position: absolute;
    bottom: 0;
    width: 100%
    height: 100px;
    box-sizing: content-box;
    clear: both;
    background-color:$color1;
    color: $color4;
    border-top: solid 5px $color4;
    font-weight: bold;
    .text
        width:100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        @media screen and (max-width: 768px){font-size: 10px}
    .web, .mobile
        .redeSocial
            background-image: url('/images/rede-social.jpg');
            display: inline-block;
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 10px;
        .facebook
            background-position: -82px -76px;
        .twitter
            background-position: -217px -76px;
        .google
            background-position: -353px -76px;
    .web
        .redeSocial
            float: right;
            margin: 20px 5px;
        .redeSocial:hover
            box-shadow: 5px 5px 0 $color4;
            -webkit-box-shadow: 5px 5px 0 $color4;
            -moz-box-shadow: 5px 5px 0 $color4;
            // -webkit-box-shadow: 0 0 35px 5px $color4;
            // -moz-box-shadow: 0 0 35px 5px $color4;
            // box-shadow: 0 0 35px 5px $color4;
    .mobile
        text-align: center;
        .redeSocial
            margin: 10px 5px;
