@import "global.styl";

.mensagem
    position:relative;
    .titulo
        width:70%;
        display:inline-block;
    .img
        display:inline-block;
    .excluir
        position:absolute;
        top:5px;
        right:5px;
    .responder
        position:absolute;
        bottom:0;
        right:5px;
        button
            color:$color1;
    .conversa
        /*   position:relative;    */
        width:70%;
        .conversa-esquerda
            background-color: #FFB520;
            border-radius:10px;
            width:50%;
            margin-right: auto;
            padding:10px
        .conversa-direita
            background-color: #FFD786;
            border-radius:10px;
            width:50%;
            margin-left: auto;
            padding:10px;
