.conversa
    .bloco-conversa
        .conversa-esquerda
            background-color: #FFB520;
            border-radius:10px;
            width:95%;
            margin-right: auto;
            padding:1px
            text-align: left;
            margin-bottom: 5px;
        .conversa-direita
            background-color: #FFD786;
            border-radius:10px;
            width:95%;
            margin-left: auto;
            padding:1px;
            text-align: right
            margin-bottom: 5px;
