.msgHome
	font-family: 'Adventure_';
.div-produtos
	padding-top: 10px;
	text-align: center;
	.box-favorite
		.favorite
			width: 20px;
			height: 21px;
			display: block;
			margin: auto;
			cursor: pointer;
			.glyphicon
				font-size: 24px;
			.active
				color: #E8D336;
			.inactive
				color: #ccc;
	.titulo
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	.image
		img
			width: 100%;
			height: 100%;

/* MEUS PRODUTOS */
.div-meus-produtos
	border-bottom: solid 1px;
	padding: 20px 0;
	.titulo
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	.div_imagem
		width: 150px;
		height:150px;
		background-color: #000
		img
			width: 100%;
			height: 100%;
	.btn_acoes
		div
			display: inline-block;
			padding: 5px;
		.favorito
			div
				background-size: cover;
				width: 15px;
				height: 15px;
			.favorito-ativo
				background-image: url(/imagens/favorito_ativo.jpg);
			.favorito-inativo
				background-image: url(/imagens/favorito_inativo.jpg);
